:root{
  --bg-color:#A6B3C5;
  --light-color: rgba(216, 222, 231, .5);
  --text-color: #313B4D;
}

body{
  background-color: var(--bg-color);
  color:#313B4D;
  font-family: 'Source Code Pro',monospace,sans-serif;
  margin:0px;
  background-image: url('../imgs/fsf-bg.gif');
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 60%;
}

h1, h2{
  text-align: center;
}

.fsf-logo{
  width: 10em;
  margin: 2em auto;
  display: block;
}

.card{
  margin: .5em;
  padding: .5em;
  border: 1px var(--light-color) solid;
  background-color: var(--light-color); 
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header{
  
}

.page-area{
  max-width: 50em;
  margin:auto;
}

.city{
  width: 100%;
}

.example-image{
  width:10em ;
  margin:auto;
  padding:1em;
}

.btnFormat{
  padding: .5em;
  margin: 1em;
  border: var(--text-color) solid 2px;
  border-radius: 8px;
  display: block;
  text-align: center;
  color: var(--text-color);
  font-size: 1.5em;
}

.footer{
  margin: 3em auto 15em auto;
  text-align: center;
}